In [142]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import re
import csv
import nltk
from nltk.corpus import stopwords # Import the stop word list
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np, pylab as pl
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

In [143]:
tweets_data_path = 'data/streamingtweet.json' #data after streaming script in JSON
tweets_file = open(tweets_data_path, "r")

tweets_data = [] #empty list

for line in tweets_file:
    try:
        tweet = json.loads(line)
        if 'text' in tweet:
            #if ( retweeted is False):
                tweets_data.append(tweet)
    except:
        continue

tweets = pd.DataFrame() #empty df

length = len(tweets_data)
print("Total Tweet Recieve : '{}' streaming tweet".format(length)) #how many tweet collected

Total Tweet Recieve : '5633' streaming tweet

In [144]:
# Extract the useful data from JSON 

tweets['text'] = list(map(lambda tweet: tweet['text'], tweets_data))
#tweets['text2'] = list(map(lambda tweet: tweet.user_name['locations'], tweets_data))
#tweets['sentiment'] = list(map(lambda tweet: tweet['sentiment'], tweets_data))
#print(tweets['text']) #show all the tweet

In [145]:
#save the tweet before perform other cleaning step and assign the class label

filename = 'data/save-txt-tweet.csv'
csvFile = open(filename, 'w')
csvWriter = csv.writer(csvFile, delimiter='\t', quoting=csv.QUOTE_ALL)

count = 0

for tweet in tweets['text']:
    csvWriter.writerow([tweet])
    count += 1
    
csvFile.close()

In [132]:
cols = ['text'] #assign column for read CSV

df = pd.read_csv(filename,header=None, names=cols)
df["label"] = "" #lavel column assign
df['text'] = df['text'].str.replace('@',' ') #remove @ 
df = df[df.text.str.contains("rt" or "RT") == False] #remove RT

remlink = []
for i in df['text']:
    a = re.sub(r"http\S+", "", i)
    remlink.append(a)
    
df['text'] = remlink #update TEXT after remove LINK

In [133]:
# New df for remove tweet not according to keywords

dfkeyword = df[df.text.str.contains("traffic | traffic slow| slow | traffic jammed | accident | stuck")]
dfkeyword=dfkeyword.reset_index()
#dfkeyword = df[df.text.str.contains("makan") == True]
#dfkeyword = df[df.text.str.contains("hujan") == True]

del dfkeyword['index'] #del default index col

In [134]:
dfkeyword

                                                text label
0  Hari2 mmg bengang dgn bos sendiri.. Tak kisah ...
1   my_malaysia TS...minta trafik polis pantau tr...
2  Done with my work around 4pm. Got stuck in the...
3                   10x hijau dah traffic light tu.
4  Im stuck. (  Bazaar Ramadhan Bandar Baru Selay...
5  Tadi aku rasa aku bawah slow hbs dh kat jalan ...
6  Lagi sedih bila driver kereta yg punca kitaorg...
7  Huzair ni, dah kena accident pun nak buat jaha...

In [137]:
# Malay Stop Word ONLY


stop_words = set({'ada','inikah','sampai','adakah','inilah','sana','adakan','itu','sangat','adalah','itukah','sangatlah','adanya','itulah','saya','adapun','jadi','se','agak','jangan','seandainya','agar','janganlah','sebab','akan','jika','sebagai','aku','jikalau','sebagaimana','akulah','jua','sebanyak','akupun','juapun','sebelum','al','juga','sebelummu','alangkah','kalau','sebelumnya','allah','kami','sebenarnya','amat','kamikah','secara','antara','kamipun','sedang','antaramu','kamu','sedangkan','antaranya','kamukah','sedikit','apa','kamupun','sedikitpun','apa-apa','katakan','segala','apabila','ke','sehingga','apakah','kecuali','sejak','apapun','kelak','sekalian','atas','kembali','sekalipun','atasmu','kemudian','sekarang','atasnya','kepada','sekitar','atau','kepadaku','selain','ataukah','kepadakulah','selalu','ataupun','kepadamu','selama','bagaimana','kepadanya','selama-lamanya','bagaimanakah','kepadanyalah','seluruh','bagi','kerana','seluruhnya','bagimu','kerananya','sementara','baginya','kesan','semua','bahawa','ketika','semuanya','bahawasanya','kini','semula','bahkan','kita','senantiasa','bahwa','ku','sendiri','banyak','kurang','sentiasa','banyaknya','lagi','seolah','barangsiapa','lain','seolah-olah','bawah','lalu','seorangpun','beberapa','lamanya','separuh','begitu','langsung','sepatutnya','begitupun','lebih','seperti','belaka','maha','seraya','belum','mahu','sering','belumkah','mahukah','serta','berada','mahupun','seseorang','berapa','maka','sesiapa','berikan','malah','sesuatu','beriman','mana','sesudah','berkenaan','manakah','sesudahnya','berupa','manapun','sesungguhnya','beserta','masih','sesungguhnyakah','biarpun','masing','setelah','bila','masing-masing','setiap','bilakah','melainkan','siapa','bilamana','memang','siapakah','bisa','mempunyai','sini','boleh','mendapat','situ','bukan','mendapati','situlah','bukankah','mendapatkan','suatu','bukanlah','mengadakan','sudah','dahulu','mengapa','sudahkah','dalam','mengapakah','sungguh','dalamnya','mengenai','sungguhpun','dan','menjadi','supaya','dapat','menyebabkan','tadinya','dapati','menyebabkannya','tahukah','dapatkah','mereka','tak','dapatlah','merekalah','tanpa','dari','merekapun','tanya','daripada','meskipun','tanyakanlah','daripadaku','mu','tapi','daripadamu','nescaya','telah','daripadanya','niscaya','tentang','demi','nya','tentu','demikian','olah','terdapat','demikianlah','oleh','terhadap','dengan','orang','terhadapmu','dengannya','pada','termasuk','di','padahal','terpaksa','dia','padamu','tertentu','dialah','padanya','tetapi','didapat','paling','tiada','didapati','para','tiadakah','dimanakah','pasti','tiadalah','engkau','patut','tiap','engkaukah','patutkah','tiap-tiap','engkaulah','per','tidak','engkaupun','pergilah','tidakkah','hai','perkara','tidaklah','hampir','perkaranya','turut','hampir-hampir','perlu','untuk','hanya','pernah','untukmu','hanyalah','pertama','wahai','hendak','pula','walau','hendaklah','pun','walaupun','hingga','sahaja','ya','ia','saja','yaini','iaitu','saling','yaitu','ialah','sama','yakni','ianya','yang','inginkah','samakah','ini','sambil'})


c = []

for word in dfkeyword['text']:
    word=word.lower()
    word_tokens = word_tokenize(word)
    filtered_sentence = [w for w in word_tokens if not w in stop_words]
    if word not in stop_words:        
        filtered_sentence.append(word)
        a=" ".join( filtered_sentence )
        c.append(a)

    
dfkeyword['text'] = c

In [138]:
dfkeyword

                                                text label
0  hari2 mmg bengang dgn bos sendiri.. kisah buat...
1  my_malaysia ts ... minta trafik polis pantau t...
2  done with my work around 4pm . got stuck in th...
3  10x hijau dah traffic light tu . 10x hijau dah...
4  im stuck . ( bazaar ramadhan bandar baru selay...
5  tadi rasa slow hbs dh kat jalan raya , still x...
6  sedih driver kereta yg punca kitaorg 3 moto ac...
7  huzair ni , dah kena accident nak buat jahat ....

In [139]:
#Insert class label (1 - yes | 0 - no)

yn =[]
count=1
for i in dfkeyword['text'] :
    print("{} : {}".format(count,i))
    yon = int(input("1 ... 0"))
    print("\n")
    yn.append(yon)
    count+=1
    
dfkeyword['label'] = yn

1 : hari2 mmg bengang dgn bos sendiri.. kisah buat keje slow tp rajin . takde nak marah . ni kerja nak bu… hari2 mmg bengang dgn bos sendiri.. tak kisah kalau buat keje slow tp rajin. takde orang nak marah.
ni kerja nak bu…
1 ... 00


2 : my_malaysia ts ... minta trafik polis pantau traffic light ampang park tksh  my_malaysia ts...minta trafik polis pantau traffic light ampang park tksh
1 ... 00


3 : done with my work around 4pm . got stuck in the jam and reached home around 5.50pm . and then i received a call regar… done with my work around 4pm. got stuck in the jam and reached home around 5.50pm. and then i received a call regar…
1 ... 01


4 : 10x hijau dah traffic light tu . 10x hijau dah traffic light tu.
1 ... 01


5 : im stuck . ( bazaar ramadhan bandar baru selayang ) im stuck. (  bazaar ramadhan bandar baru selayang)
1 ... 01


6 : tadi rasa slow hbs dh kat jalan raya , still x sempat break , sebb dah rapat sgt.. kesian d… tadi aku rasa aku bawah slow hbs dh kat jalan raya, tapi still x sempat break, sebb dah rapat sgt.. paling kesian d…
1 ... 01


7 : sedih driver kereta yg punca kitaorg 3 moto accident ni ade la bangla.. ko rase. ? punya x nk ngaku sa… lagi sedih bila driver kereta yg punca kitaorg 3 moto accident ni ade la bangla.. ko rase.? dia punya x nk ngaku sa…
1 ... 00


8 : huzair ni , dah kena accident nak buat jahat . huzair ni, dah kena accident pun nak buat jahat lagi.
1 ... 00

In [140]:
dfkeyword

                                                text  label
0  hari2 mmg bengang dgn bos sendiri.. kisah buat...      0
1  my_malaysia ts ... minta trafik polis pantau t...      0
2  done with my work around 4pm . got stuck in th...      1
3  10x hijau dah traffic light tu . 10x hijau dah...      1
4  im stuck . ( bazaar ramadhan bandar baru selay...      1
5  tadi rasa slow hbs dh kat jalan raya , still x...      1
6  sedih driver kereta yg punca kitaorg 3 moto ac...      0
7  huzair ni , dah kena accident nak buat jahat ....      0

In [146]:
dfkeyword.to_csv('data/tweet-label-class.csv', encoding='utf-8',header=True)